<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('navHeader.ejs') %>
                <meta
          name="title"
          content="Tetris Grounds &#8211; Modern Tetris | Marathon Leaderboards"
        />
        <meta
          name="description"
          content="Leaderboard for marathon mode of Tetris Grounds"
        />

        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= url %>" />
        <meta
          property="og:title"
          content="Tetris Grounds &#8211; Modern Tetris | Marathon Leaderboards"
        />
        <meta
          property="og:description"
          content="Leaderboard for marathon mode of Tetris Grounds"
        />
        <meta property="og:image" content='/logo.png' />

        <meta property="twitter:card" content="summary" />
        <meta property="twitter:url" content="<%= url %>" />
        <meta
          property="twitter:title"
          content="Tetris Grounds &#8211; Modern Tetris | Marathon Leaderboards"
        />
        <meta
          property="twitter:description"
          content="Leaderboard for marathon mode of Tetris Grounds"
        />
        <meta property="twitter:image" content='/logo.png' />
        <link rel="icon" href="/favicon.ico" />
</head>
<body class="text-right text-sm-right text-md-right text-lg-right text-xl-right" style="font-family: Aldrich, sans-serif;">
    <%- include('nav.ejs') %>
    <table class="table table-bordered table-hover" style="text-align: center;">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Level</th>
                <th>Score</th>
                <th>Lines</th>
                <th>Player</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i=0; i<data.length; i++) {%>
                <tr>
                    <td><%= i+1 %></td>
                    <td><%= data[i].level %></td>
                    <td><%= data[i].score %></td>
                    <td><%= data[i].lines %></td>
                    <td><%= data[i].player %></td>
                </tr>
             <% } %>
        </tbody>
    </table>
</body>
    
</html>